.error{
    color: red;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 200;
    cursor: pointer;
}

html, body {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  strong {
    font-weight: 600;
    color: #083d9b;
  }
  
  .wrapper {
    display: flex;
    height: 100vh;
  }
  
  .identityCard {
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    background: linear-gradient(to bottom, #a0d9d2 46%, #7e9fc2 100%);
  }
  .identityCard__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #133f86;
  }
  .identityCard__profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .identityCard__identity {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
  }
  .identityCard__visual {
    max-width: 180px;
  }
  .identityCard__visual img {
    display: block;
    width: 100%;
    filter: none;
    /* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); */
  }
  .identityCard__list {
    flex: 1;
    padding: 10px 20px;
  }
  .identityCard__list li + li {
    margin-top: 12px;
  }
  .identityCard__footer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    line-height: 1.6;
    text-transform: uppercase;
    background-color: white;
  }
  .identityCard .filled {
    background: url(https://zupimages.net/up/19/50/fuxd.gif) repeat-x 1px center;
  }
  .identityCard .filled span {
    display: inline-block;
    padding-right: 4px;
    background-color: white;
  }

  /* .height-100 .dropify-wrapper {
    height: 100%;
  } */
  